<!DOCTYPE html>
<html lang="ja">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <header class="materialy-app-bar-top">
  </header>
  <nav class="materialy-navigation-drawer">
  </nav>
  <label class="materialy-navigation-drawer__modal--scrim" for="materialy-app-bar-top--checkbox"></label>
  <main class="materialy-content">
    <div class="materialy-layout--padding-top-bottom-16 materialy-layout--center">
      <div class="materialy-layout--linearlayout__vertical">
        <p class="materialy-typography__subtitle1 materialy-layout--no-margin materialy-layout--left">Default</p>
        <div class="materialy-layout--linearlayout__horizontal materialy-layout--content-center">
          <button class="materialy-button materialy-ripple">Button</button>
          <button class="materialy-button--text materialy-ripple">Text Button</button>
          <button class="materialy-button--outline materialy-ripple">Outline Button</button>
          <button class="materialy-button materialy-ripple">
            <i class="material-icons materialy-button--icon">grade</i>
            Icon Button
          </button>
        </div>
        <p class="materialy-typography__subtitle1 materialy-layout--no-margin materialy-layout--left">Accent</p>
        <div class="materialy-layout--linearlayout__horizontal materialy-layout--content-center">
          <button class="materialy-button__accent materialy-ripple__base-accent">Button</button>
          <button class="materialy-button--text__accent materialy-ripple__accent">Text Button</button>
          <button class="materialy-button--outline__accent materialy-ripple__accent">Outline Button</button>
          <button class="materialy-button__accent materialy-ripple__base-accent">
            <i class="material-icons materialy-button--icon">grade</i>
            Icon Button
          </button>
        </div>
        <p class="materialy-typography__subtitle1 materialy-layout--no-margin materialy-layout--left">Primary</p>
        <div class="materialy-layout--linearlayout__horizontal materialy-layout--content-center">
          <button class="materialy-button__primary materialy-ripple__base-primary">Button</button>
          <button class="materialy-button--text__primary materialy-ripple__primary">Text Button</button>
          <button class="materialy-button--outline__primary materialy-ripple__primary">Outline Button</button>
          <button class="materialy-button__primary materialy-ripple__base-primary">
            <i class="material-icons materialy-button--icon">grade</i>
            Icon Button
          </button>
        </div>
      </div>
    </div>
  </main>
</body>
<script src="../script/setup.js"></script>

</html>