<!DOCTYPE html>
<html lang="ja">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <header class="materialy-app-bar-top">
  </header>
  <nav class="materialy-navigation-drawer">
  </nav>
  <label class="materialy-navigation-drawer__modal--scrim" for="materialy-app-bar-top--checkbox"></label>
  <main class="materialy-content">
    <div class="materialy-layout--padding-top-bottom-16 materialy-layout--center">
      <div class="materialy-layout--linearlayout__vertical">
        <p class="materialy-typography__headline5 materialy-layout--left materialy-layout--no-margin">Card</p>
        <div class="materialy-card">
          <p class="materialy-card--title">Title</p>
          <p class="materialy-card--subtitle">Subtitle</p>
          <p class="materialy-card--text">Card content hoge foo bar example temp</p>
          <p class="materialy-card--text">あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ</p>
          <div class="materialy-dividers"></div>
          <div class="materialy-card--action-container">
            <a class="materialy-button--text__accent materialy-ripple__accent">Action 1</a>
            <a class="materialy-button--text__accent materialy-ripple__accent">Action 2</a>
          </div>
        </div>

        <div class="materialy-layout--space"></div>

        <p class="materialy-typography__headline5 materialy-layout--left materialy-layout--no-margin">Top image card</p>
        <div class="materialy-card">
          <img class="materialy-card--media__top" src="http://placehold.jp/320x180.png">
          <p class="materialy-card--title">Title</p>
          <p class="materialy-card--subtitle">Subtitle</p>
          <p class="materialy-card--text">Card content hoge foo bar example temp</p>
          <p class="materialy-card--text">あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ</p>
          <span class="materialy-dividers"></span>
          <div class="materialy-card--action-container">
            <a class="materialy-button--text__accent materialy-ripple__accent">Action 1</a>
            <a class="materialy-button--text__accent materialy-ripple__accent">Action 2</a>
          </div>
        </div>

        <div class="materialy-layout--space"></div>

        <p class="materialy-typography__headline5 materialy-layout--left materialy-layout--no-margin">No radius card</p>
        <div class="materialy-card__no-radius">
            <p class="materialy-card--title">Title</p>
            <p class="materialy-card--subtitle">Subtitle</p>
            <p class="materialy-card--text">Card content hoge foo bar example temp</p>
            <p class="materialy-card--text">あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ</p>
            <span class="materialy-dividers"></span>
            <div class="materialy-card--action-container">
              <a class="materialy-button--text__accent materialy-ripple__accent">Action 1</a>
              <a class="materialy-button--text__accent materialy-ripple__accent">Action 2</a>
            </div>
          </div>
      </div>

      <div class="materialy-layout--linearlayout__vertical__full">
        <div class="materialy-layout--width-full materialy-layout--center">
            <p class="materialy-typography__headline5 materialy-layout--left materialy-layout--no-margin">Fit card</p>
            <div class="materialy-card__fit">
              <p class="materialy-card--title">Title</p>
              <p class="materialy-card--subtitle">Subtitle</p>
              <p class="materialy-card--text">Card content hoge foo bar example temp</p>
              <p class="materialy-card--text">あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ</p>
              <div class="materialy-dividers"></div>
              <div class="materialy-card--action-container">
                <a class="materialy-button--text__accent materialy-ripple__accent">Action 1</a>
                <a class="materialy-button--text__accent materialy-ripple__accent">Action 2</a>
              </div>
            </div>

            <div class="materialy-layout--space"></div>

            <p class="materialy-typography__headline5 materialy-layout--left materialy-layout--no-margin">Fit image card</p>
            <div class="materialy-card__fit">
              <p class="materialy-card--title">Title</p>
              <p class="materialy-card--subtitle">Subtitle</p>
              <p class="materialy-card--text">Card content hoge foo bar example temp</p>
              <p class="materialy-card--text">あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ</p>
              <div class="materialy-card--center-container">
                <img class="materialy-card--media" src="http://placehold.jp/1920x1080.png">
                <img class="materialy-card--media" src="http://placehold.jp/320x180.png">
              </div>
              <p class="materialy-card--text">Card image</p>
              <div class="materialy-dividers"></div>
              <div class="materialy-card--action-container">
                <a class="materialy-button--text__accent materialy-ripple__accent">Action 1</a>
                <a class="materialy-button--text__accent materialy-ripple__accent">Action 2</a>
              </div>
            </div>

            <div class="materialy-layout--space"></div>

            <p class="materialy-typography__headline5 materialy-layout--left materialy-layout--no-margin">No radius fit card</p>
            <div class="materialy-card__fit__no-radius">
              <p class="materialy-card--title">Title</p>
              <p class="materialy-card--subtitle">Subtitle</p>
              <p class="materialy-card--text">Card content hoge foo bar example temp</p>
              <p class="materialy-card--text">あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほ</p>
              <div class="materialy-dividers"></div>
              <div class="materialy-card--action-container">
                <a class="materialy-button--text__accent materialy-ripple__accent">Action 1</a>
                <a class="materialy-button--text__accent materialy-ripple__accent">Action 2</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </main>
</body>
<script type="module" src="../script/setup.js"></script>

</html>