<!DOCTYPE html>
<html lang="ja">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <header class="materialy-app-bar-top">
  </header>
  <nav class="materialy-navigation-drawer">
  </nav>
  <label class="materialy-navigation-drawer__modal--scrim" for="materialy-app-bar-top--checkbox"></label>
  <main class="materialy-content">
    <div
      class="materialy-layout--linearlayout__vertical__full materialy-layout--content-center materialy-layout--padding-top-bottom-16">

      <div class="materialy-layout--linearlayout__horizontal__full">
        <input type="checkbox" class="materialy-checkbox" id="test">
        <label for="test">テスト</label>

        <input type="checkbox" class="materialy-checkbox__accent" id="test2">
        <label for="test2">テスト</label>

        <input type="checkbox" class="materialy-checkbox__primary" id="test3">
        <label for="test3">テスト</label>
        </label>
      </div>
  </main>
</body>
<script type="module" src="../script/setup.js"></script>

</html>