<!DOCTYPE html>
<html lang="ja">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <header class="materialy-app-bar-top">
  </header>
  <nav class="materialy-navigation-drawer">
  </nav>
  <label class="materialy-navigation-drawer__modal--scrim" for="materialy-app-bar-top--checkbox"></label>
  <main class="materialy-content">
    <div class="materialy-layout--padding-top-bottom-16 materialy-layout--center">
      <div class="materialy-layout--linearlayout__vertical">
        <p class="materialy-typography__subtitle1 materialy-layout--no-margin materialy-layout--left">Default</p>
        <div class="materialy-text-field">
          <input type="text" class="materialy-text-field--input" placeholder=" ">
          <div class="materialy-text-field--border">
            <div class="materialy-text-field--border--first"></div>
            <div class="materialy-text-field--border--hint">
              <span class="materialy-text-field--hint">Hint</span>
            </div>
            <div class="materialy-text-field--border--end"></div>
          </div>
        </div>

        <p class="materialy-typography__subtitle1 materialy-layout--no-margin materialy-layout--left">Accent</p>
        <div class="materialy-text-field">
          <input type="text" class="materialy-text-field--input" placeholder=" ">
          <div class="materialy-text-field--border__accent">
            <div class="materialy-text-field--border--first"></div>
            <div class="materialy-text-field--border--hint">
              <span class="materialy-text-field--hint">Hint</span>
            </div>
            <div class="materialy-text-field--border--end"></div>
          </div>
        </div>

        <p class="materialy-typography__subtitle1 materialy-layout--no-margin materialy-layout--left">Primary</p>
        <div class="materialy-text-field">
          <input type="text" class="materialy-text-field--input" placeholder=" ">
          <div class="materialy-text-field--border__primary">
            <div class="materialy-text-field--border--first"></div>
            <div class="materialy-text-field--border--hint">
              <span class="materialy-text-field--hint">Hint</span>
            </div>
            <div class="materialy-text-field--border--end"></div>
          </div>
        </div>

        <p class="materialy-typography__subtitle1 materialy-layout--no-margin materialy-layout--left">No radius</p>
        <div class="materialy-text-field">
          <input type="text" class="materialy-text-field--input" placeholder=" ">
          <div class="materialy-text-field--border__accent">
            <div class="materialy-text-field--border--first materialy-text-field--border__style-no-radius"></div>
            <div class="materialy-text-field--border--hint materialy-text-field--border__style-no-radius">
              <span class="materialy-text-field--hint">Hint</span>
            </div>
            <div class="materialy-text-field--border--end materialy-text-field--border__style-no-radius"></div>
          </div>
        </div>

        <p class="materialy-typography__subtitle1 materialy-layout--no-margin materialy-layout--left">No hint</p>
        <div class="materialy-text-field">
          <input type="text" class="materialy-text-field--input" placeholder=" ">
          <div class="materialy-text-field--border">
            <div class="materialy-text-field--border--first"></div>
            <div class="materialy-text-field--border--end"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="materialy-layout--padding-top-bottom-16 materialy-layout--center">
      <div class="materialy-layout--linearlayout__vertical">
        <p class="materialy-typography__subtitle1 materialy-layout--no-margin materialy-layout--left">Textarea</p>
        <div class="materialy-text-field">
          <textarea type="text" class="materialy-text-field--input" placeholder=" "></textarea>
          <div class="materialy-text-field--border__primary">
            <div class="materialy-text-field--border--first"></div>
            <div class="materialy-text-field--border--hint">
              <span class="materialy-text-field--hint">Hint</span>
            </div>
            <div class="materialy-text-field--border--end"></div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
<script type="module" src="../script/setup.js"></script>

</html>