<!DOCTYPE html>
<html lang="ja">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <header class="materialy-app-bar-top">
  </header>
  <nav class="materialy-navigation-drawer">
  </nav>
  <label class="materialy-navigation-drawer__modal--scrim" for="materialy-app-bar-top--checkbox"></label>
  <main class="materialy-content">
    <div class="materialy-layout--center materialy-layout--padding-top-bottom-16">
      <div class="materialy-layout--linearlayout__vertical materialy-layout--left">
        <p class="materialy-typography__headline1">Headeline 1</p>
        <p class="materialy-typography__headline2">Headeline 2</p>
        <p class="materialy-typography__headline3">Headeline 3</p>
        <p class="materialy-typography__headline4">Headeline 4</p>
        <p class="materialy-typography__headline5">Headeline 5</p>
        <p class="materialy-typography__headline6">Headeline 6</p>
        <p class="materialy-typography__subtitle1">Subtitle 1</p>
        <p class="materialy-typography__subtitle2">Subtitle 2</p>
        <p class="materialy-typography__body1">Body 1: hello world hoge foo bar</p>
        <p class="materialy-typography__body2">Body 2: hello world hoge foo bar</p>
      </div>
    </div>
  </main>
</body>
<script type="module" src="../script/setup.js"></script>

</html>