@import "elevation";
@import "typography";

.materialy-card {
    display: inline-block;
    width: 344px;
    padding: 0px;
    padding-bottom: 8px;
    text-align: left;
    background-color: var(--materialy-card-background-color);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin: 8px;

    &__no-radius {
        @extend .materialy-card;
        border-radius: 0px;
    }

    &__fit {
        @extend .materialy-card;
        width: 95%;
        min-width: auto;
        &__no-radius {
            @extend .materialy-card__fit;
            border-radius: 0px;
        }
    }

    &--media {
        max-width: 100%;
        &__top {
            width: 100%;
        }
    }

    &--center-container {
        width: 100%;
        text-align: center;
    }

    &--title {
        @include materialy-typography(headline4);
        margin: 0px;
        padding: 0px;
        padding-top: 8px;
        padding-right: 16px;
        padding-bottom: 8px;
        padding-left: 16px;
        color: var(--materialy-text-color);
    }

    &--subtitle {
        @include materialy-typography(subtitle1);
        margin: 0px;
        padding: 0px;
        padding-right: 16px;
        padding-bottom: 8px;
        padding-left: 16px;
        color: var(--materialy-text-color-high);
    }

    &--text {
        @include materialy-typography();
        margin: 0px;
        padding: 0px;
        padding-right: 16px;
        padding-left: 16px;
        color: var(--materialy-text-color-medium);
    }

    &--action-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: left;
    }
}

//Mobile
@media screen and (max-width: 896px) {
}

//Desktop/Tablet
@media screen and (min-width: 897px) {
    .materialy-card {
        &__fit {
            width: 60%;
        }
    }
}
