$materialy-dark-elevation-00: #121212;
$materialy-dark-elevation-01: #1d1d1d;
$materialy-dark-elevation-02: #222222;
$materialy-dark-elevation-03: #242424;
$materialy-dark-elevation-04: #272727;
$materialy-dark-elevation-06: #2c2c2c;
$materialy-dark-elevation-08: #2d2d2d;
$materialy-dark-elevation-12: #333333;
$materialy-dark-elevation-16: #363636;
$materialy-dark-elevation-24: #383838;
